.wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 10px solid rgb(192, 11, 38);

  &-body {
    background-color: rgb(71, 31, 227);
    // display: flex;
    // flex-direction: column;
    // position: relative;
    // margin-top: 100px;
    height: calc(100vh - 100px);

    &-item {
      margin-bottom: 20px; // 行距
      .wcbi-body {
        width: 324.8px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        border: 1px solid red;
        &-img {
          width: 80px;
          height: 80px;
        }
        &-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          &-nickname {
            width: 105px;
            height: 21px;
            font-size: 15px;
          }
          &-sex {
            width: 107px;
            height: 17px;
            font-size: 12px;
          }
          &-age {
            width: 65px;
            height: 18px;
            font-size: 13px;
          }
        }
      }
    }
  }
}
