.wrap {
  &-scrollview {
    margin-top: 30px;
  }
  &-body {
    background-color: rgb(71, 31, 227);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    &-item {
      margin-bottom: 20px; // 行距
      .wcbi-body {
        width: 324.8px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        border: 1px solid red;
        &-img {
          width: 80px;
          height: 80px;
        }
        &-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          &-nickname {
            width: 105px;
            height: 21px;
            font-size: 15px;
          }
          &-sex {
            width: 107px;
            height: 17px;
            font-size: 12px;
          }
          &-age {
            width: 65px;
            height: 18px;
            font-size: 13px;
          }
        }
      }
    }
  }
}



